*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

img {
  width: 100%;
  border-radius: 10px;
}

h2 {
  margin: 1rem 0.5rem;
  color: hsl(218, 44%, 22%);
}

p {
  margin-bottom: 1rem;
  color: hsl(220, 15%, 55%);
  padding: 0 2rem 0 0.7rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  max-width: 20rem;
  text-align: center;
  padding: 1rem 1rem;
}

.wrapper {
  width: 100%;
}

@media (max-width: 375px) {
  .card {
    margin: 0 1rem;
  }

  p {
    padding: 0 0.5rem 0 0.5rem;
  }
}
